.picture {
    background: #fff;
    border-radius: 2px;
    margin-top: 3px;
    box-shadow: 0 3px 3px #999, 0 3px 3px #999;
    overflow: hidden; 
    width: 150px;
    height: 150px;
  }

  .largePic{

    width: 300px;
    height:300px;
  }



