.picture {
    background: #fff;
    border-radius: 2px;
    margin-top: 3px;
    box-shadow: 0 3px 1px #999, 0 1px 1px #999;
    overflow: hidden; 
  }

 .span2{
   margin: 1px;
   padding: 1px;
   grid-column-end: span 2;
   grid-row-end: span 2;
   width: 400px;
   height: 400px;

 }

 .span1{
  width: 200px;
  height: 200px;
  margin: 1px;
  padding:1px;
  grid-column-end: span 1;
  grid-row-end: span 1;
 }



