.container {
    margin: 0 auto;
    max-width: 1280px;
    padding:0;
}

.grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, auto));
    grid-template-rows: repeat(4, minmax(150px, auto));
    grid-auto-flow: dense;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding:0;
  


}

